parameters:
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '/Parameter #1 \$config \(array<string, mixed>\) of method Nedac\\SyliusMinimumOrderValuePlugin\\DependencyInjection\\NedacSyliusMinimumOrderValueExtension::load\(\) should be contravariant with parameter \$configs \(array\) of method Symfony\\Component\\DependencyInjection\\Extension\\ExtensionInterface::load\(\)/'
        - '/Parameter #2 \$options \(array<string, mixed>\) of method Nedac\\SyliusMinimumOrderValuePlugin\\Form\\ChannelTypeExtension::buildForm\(\) should be contravariant with parameter \$options \(array\) of method Symfony\\Component\\Form\\AbstractTypeExtension::buildForm\(\)/'
        - '/Parameter #2 \$options \(array<string, mixed>\) of method Nedac\\SyliusMinimumOrderValuePlugin\\Form\\ChannelTypeExtension::buildForm\(\) should be contravariant with parameter \$options \(array\) of method Symfony\\Component\\Form\\FormTypeExtensionInterface::buildForm\(\)/'
